<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT Apartament ANY>
<!ATTLIST Apartament id ID #REQUIRED>
<!ELEMENT Apartamenty ANY>
<!ATTLIST Apartamenty id ID #REQUIRED>
<!ELEMENT Cena ANY>
<!ATTLIST Cena id ID #REQUIRED>
<!ELEMENT Kontakt ANY>
<!ATTLIST Kontakt id ID #REQUIRED>
<!ELEMENT Master ANY>
<!ATTLIST Master id ID #REQUIRED>
<!ELEMENT Miejsce ANY>
<!ATTLIST Miejsce id ID #REQUIRED>
<!ELEMENT Regulamin ANY>
<!ATTLIST Regulamin id ID #REQUIRED>
<!ELEMENT Rezerwacja ANY>
<!ATTLIST Rezerwacja id ID #REQUIRED>
<!ELEMENT Rezerwacje ANY>
<!ATTLIST Rezerwacje id ID #REQUIRED>
<!ELEMENT StronaGlowna ANY>
<!ATTLIST StronaGlowna id ID #REQUIRED>
<!ELEMENT Usluga ANY>
<!ATTLIST Usluga id ID #REQUIRED>
<!ELEMENT Uslugi ANY>
<!ATTLIST Uslugi id ID #REQUIRED>
<!ELEMENT WartoSieWybrac ANY>
<!ATTLIST WartoSieWybrac id ID #REQUIRED>

]>
<root id="-1">
  <StronaGlowna id="1076" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2015-09-26T12:37:08" updateDate="2015-10-28T16:59:05" nodeName="Niebieska Weranda" urlName="niebieska-weranda" path="-1,1076" isDoc="" nodeType="1084" creatorName="Mateusz Kortas" writerName="Mateusz Kortas" writerID="0" template="1064" nodeTypeAlias="StronaGlowna">
    <baner><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "src": "/media/1007/appartment.jpg",
  "crops": [
    {
      "alias": "baner",
      "width": 1903,
      "height": 265,
      "coordinates": {
        "x1": 0,
        "y1": 0.44731270911360776,
        "x2": 2.1474180458527425E-15,
        "y2": 0.34302425145131971
      }
    }
  ]
}]]></baner>
    <tekst><![CDATA[<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
<p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
<p> </p>]]></tekst>
    <Apartamenty id="1078" parentID="1076" level="2" creatorID="0" sortOrder="1" createDate="2015-09-26T12:37:55" updateDate="2015-09-26T12:37:55" nodeName="Apartamenty" urlName="apartamenty" path="-1,1076,1078" isDoc="" nodeType="1053" creatorName="Mateusz Kortas" writerName="Mateusz Kortas" writerID="0" template="1052" nodeTypeAlias="Apartamenty">
      <Apartament id="1079" parentID="1078" level="3" creatorID="0" sortOrder="0" createDate="2015-09-26T12:38:26" updateDate="2017-01-23T21:48:37" nodeName="Apartament 1" urlName="apartament-1" path="-1,1076,1078,1079" isDoc="" nodeType="1055" creatorName="Mateusz Kortas" writerName="Mateusz Kortas" writerID="0" template="1054" nodeTypeAlias="Apartament">
        <zdjecia><![CDATA[1070,1071,1072,1073,1074,1105]]></zdjecia>
        <opis><![CDATA[<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
<p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
<p> </p>]]></opis>
        <miniatura>1070</miniatura>
        <wyposazenie><![CDATA[<ul>
<li>wifi</li>
<li>wifi</li>
<li>wifi</li>
<li>wifi</li>
</ul>]]></wyposazenie>
        <domyslnaCena><![CDATA[220]]></domyslnaCena>
        <maxIloscOsob><![CDATA[5]]></maxIloscOsob>
        <dodatkowaCena><![CDATA[50]]></dodatkowaCena>
        <adres><![CDATA[cinema city gdańsk]]></adres>
        <zoom><![CDATA[16]]></zoom>
        <Cena id="1123" parentID="1079" level="4" creatorID="0" sortOrder="0" createDate="2016-07-09T20:44:03" updateDate="2016-07-09T22:07:43" nodeName="bitwa pod Grunwaldem" urlName="bitwa-pod-grunwaldem" path="-1,1076,1078,1079,1123" isDoc="" nodeType="1122" creatorName="Mateusz Kortas" writerName="Mateusz Kortas" writerID="0" template="0" nodeTypeAlias="Cena">
          <dataOd>2016-07-15T00:00:00</dataOd>
          <dataDo>2016-07-15T00:00:00</dataDo>
          <cena><![CDATA[150]]></cena>
        </Cena>
        <Cena id="1124" parentID="1079" level="4" creatorID="0" sortOrder="1" createDate="2016-07-09T22:13:50" updateDate="2016-07-17T20:17:13" nodeName="promocja na lipiec" urlName="promocja-na-lipiec" path="-1,1076,1078,1079,1124" isDoc="" nodeType="1122" creatorName="Mateusz Kortas" writerName="Mateusz Kortas" writerID="0" template="0" nodeTypeAlias="Cena">
          <dataOd>2016-07-01T00:00:00</dataOd>
          <dataDo>2016-07-31T00:00:00</dataDo>
          <cena><![CDATA[400]]></cena>
        </Cena>
        <Cena id="1154" parentID="1079" level="4" creatorID="0" sortOrder="2" createDate="2016-09-10T20:37:11" updateDate="2016-09-10T20:37:25" nodeName="promocja wrzesień" urlName="promocja-wrzesień" path="-1,1076,1078,1079,1154" isDoc="" nodeType="1122" creatorName="Mateusz Kortas" writerName="Mateusz Kortas" writerID="0" template="0" nodeTypeAlias="Cena">
          <dataOd>2016-09-12T00:00:00</dataOd>
          <dataDo>2016-09-18T00:00:00</dataDo>
          <cena><![CDATA[150]]></cena>
        </Cena>
      </Apartament>
      <Apartament id="1090" parentID="1078" level="3" creatorID="1" sortOrder="1" createDate="2015-09-26T15:05:33" updateDate="2017-01-23T21:47:05" nodeName="Apartament 2" urlName="apartament-2" path="-1,1076,1078,1090" isDoc="" nodeType="1055" creatorName="Editor" writerName="Mateusz Kortas" writerID="0" template="1054" nodeTypeAlias="Apartament">
        <zdjecia><![CDATA[1075,1074,1073,1072,1071]]></zdjecia>
        <opis><![CDATA[<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
<p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
<p> </p>]]></opis>
        <miniatura>1071</miniatura>
        <maxIloscOsob><![CDATA[2]]></maxIloscOsob>
        <domyslnaCena><![CDATA[220]]></domyslnaCena>
      </Apartament>
      <Apartament id="1097" parentID="1078" level="3" creatorID="1" sortOrder="2" createDate="2015-09-26T18:30:56" updateDate="2016-07-09T21:45:04" nodeName="Apartament 3" urlName="apartament-3" path="-1,1076,1078,1097" isDoc="" nodeType="1055" creatorName="Editor" writerName="Mateusz Kortas" writerID="0" template="1054" nodeTypeAlias="Apartament">
        <zdjecia><![CDATA[1072,1073,1074,1075,1071,1070]]></zdjecia>
        <opis><![CDATA[<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
<p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
<p> </p>]]></opis>
        <miniatura>1072</miniatura>
        <domyslnaCena><![CDATA[220]]></domyslnaCena>
      </Apartament>
    </Apartamenty>
    <Uslugi id="1080" parentID="1076" level="2" creatorID="0" sortOrder="2" createDate="2015-09-26T12:41:35" updateDate="2015-09-26T12:41:35" nodeName="Usługi" urlName="usługi" path="-1,1076,1080" isDoc="" nodeType="1057" creatorName="Mateusz Kortas" writerName="Mateusz Kortas" writerID="0" template="1056" nodeTypeAlias="Uslugi">
      <Usluga id="1086" parentID="1080" level="3" creatorID="0" sortOrder="0" createDate="2015-09-26T14:26:31" updateDate="2015-09-26T14:26:31" nodeName="Wypożyczenie roweru" urlName="wypożyczenie-roweru" path="-1,1076,1080,1086" isDoc="" nodeType="1059" creatorName="Mateusz Kortas" writerName="Mateusz Kortas" writerID="0" template="1058" nodeTypeAlias="Usluga">
        <opis><![CDATA[<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
<p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
<p> </p>]]></opis>
        <zdjecie>1085</zdjecie>
      </Usluga>
      <Usluga id="1092" parentID="1080" level="3" creatorID="1" sortOrder="1" createDate="2015-09-26T15:08:14" updateDate="2015-09-26T15:08:14" nodeName="Odbiór z lotniska" urlName="odbiór-z-lotniska" path="-1,1076,1080,1092" isDoc="" nodeType="1059" creatorName="Editor" writerName="Editor" writerID="1" template="1058" nodeTypeAlias="Usluga">
        <opis><![CDATA[<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
<p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
<p> </p>]]></opis>
        <zdjecie>1091</zdjecie>
      </Usluga>
    </Uslugi>
    <WartoSieWybrac id="1081" parentID="1076" level="2" creatorID="0" sortOrder="3" createDate="2015-09-26T12:41:48" updateDate="2015-09-26T12:41:48" nodeName="Warto się wybrać" urlName="warto-się-wybrać" path="-1,1076,1081" isDoc="" nodeType="1061" creatorName="Mateusz Kortas" writerName="Mateusz Kortas" writerID="0" template="1060" nodeTypeAlias="WartoSieWybrac">
      <Miejsce id="1088" parentID="1081" level="3" creatorID="0" sortOrder="0" createDate="2015-09-26T14:34:31" updateDate="2015-10-18T12:13:39" nodeName="Kultura 1" urlName="kultura-1" path="-1,1076,1081,1088" isDoc="" nodeType="1063" creatorName="Mateusz Kortas" writerName="Mateusz Kortas" writerID="0" template="1062" nodeTypeAlias="Miejsce">
        <opis><![CDATA[<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
<p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
<p> </p>]]></opis>
        <zdjecie>1089</zdjecie>
        <kategoria><![CDATA[Kultura]]></kategoria>
      </Miejsce>
      <Miejsce id="1102" parentID="1081" level="3" creatorID="0" sortOrder="1" createDate="2015-10-28T19:47:05" updateDate="2015-10-28T19:47:05" nodeName="Miejsce 2" urlName="miejsce-2" path="-1,1076,1081,1102" isDoc="" nodeType="1063" creatorName="Mateusz Kortas" writerName="Mateusz Kortas" writerID="0" template="1062" nodeTypeAlias="Miejsce">
        <opis><![CDATA[<p>Test Test Test</p>]]></opis>
        <zdjecie>1101</zdjecie>
        <kategoria><![CDATA[Rekreacja]]></kategoria>
      </Miejsce>
      <Miejsce id="1104" parentID="1081" level="3" creatorID="0" sortOrder="2" createDate="2015-10-28T19:51:28" updateDate="2015-10-28T19:51:28" nodeName="Miejsce 3" urlName="miejsce-3" path="-1,1076,1081,1104" isDoc="" nodeType="1063" creatorName="Mateusz Kortas" writerName="Mateusz Kortas" writerID="0" template="1062" nodeTypeAlias="Miejsce">
        <opis><![CDATA[<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
<p> </p>]]></opis>
        <zdjecie>1103</zdjecie>
        <kategoria><![CDATA[Atrakcje]]></kategoria>
      </Miejsce>
      <Miejsce id="1106" parentID="1081" level="3" creatorID="0" sortOrder="3" createDate="2015-10-28T19:54:14" updateDate="2015-10-28T19:54:14" nodeName="Miejsce 4" urlName="miejsce-4" path="-1,1076,1081,1106" isDoc="" nodeType="1063" creatorName="Mateusz Kortas" writerName="Mateusz Kortas" writerID="0" template="1062" nodeTypeAlias="Miejsce">
        <opis><![CDATA[<p>Insbruck</p>]]></opis>
        <zdjecie>1105</zdjecie>
        <kategoria><![CDATA[Rekreacja]]></kategoria>
      </Miejsce>
    </WartoSieWybrac>
    <Regulamin id="1095" parentID="1076" level="2" creatorID="0" sortOrder="3" createDate="2015-09-26T15:14:05" updateDate="2016-03-13T00:53:01" nodeName="Regulamin" urlName="regulamin" path="-1,1076,1095" isDoc="" nodeType="1094" creatorName="Mateusz Kortas" writerName="Mateusz Kortas" writerID="0" template="1093" nodeTypeAlias="Regulamin">
      <tresc><![CDATA[<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
<p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
<p> </p>]]></tresc>
    </Regulamin>
    <Kontakt id="1131" parentID="1076" level="2" creatorID="0" sortOrder="4" createDate="2016-07-14T22:17:54" updateDate="2016-07-14T22:27:25" nodeName="Kontakt" urlName="kontakt" path="-1,1076,1131" isDoc="" nodeType="1130" creatorName="Mateusz Kortas" writerName="Mateusz Kortas" writerID="0" template="1132" nodeTypeAlias="Kontakt">
      <tresc><![CDATA[<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
<p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
<p> </p>]]></tresc>
      <adres><![CDATA[wieża eiffla]]></adres>
      <zoom><![CDATA[15]]></zoom>
    </Kontakt>
  </StronaGlowna>
  <Rezerwacje id="1111" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2016-03-13T19:10:30" updateDate="2016-04-17T17:50:51" nodeName="Rezerwacje" urlName="rezerwacje" path="-1,1111" isDoc="" nodeType="1108" creatorName="Mateusz Kortas" writerName="Mateusz Kortas" writerID="0" template="0" nodeTypeAlias="Rezerwacje">
    <email><![CDATA[cortez.mk@gmail.com]]></email>
    <Rezerwacja id="1142" parentID="1111" level="2" creatorID="0" sortOrder="2" createDate="2016-07-17T20:11:57" updateDate="2016-07-17T20:12:25" nodeName="a\fa fdsfds" urlName="afa-fdsfds" path="-1,1111,1142" isDoc="" nodeType="1109" creatorName="Mateusz Kortas" writerName="Mateusz Kortas" writerID="0" template="0" nodeTypeAlias="Rezerwacja">
      <imie><![CDATA[a\fa]]></imie>
      <nazwisko><![CDATA[fdsfds]]></nazwisko>
      <email><![CDATA[a@a.pl]]></email>
      <apartament><![CDATA[Apartament 1]]></apartament>
      <dataPrzyjazdu>2016-07-18T00:00:00</dataPrzyjazdu>
      <dataWyjazdu>2016-07-20T00:00:00</dataWyjazdu>
      <iloscOsob><![CDATA[1]]></iloscOsob>
      <status><![CDATA[zaakceptowana]]></status>
      <ulica><![CDATA[feswafesw]]></ulica>
      <kodPocztowy><![CDATA[11-111]]></kodPocztowy>
      <miasto><![CDATA[feasdfsa]]></miasto>
      <kraj><![CDATA[feadfsa]]></kraj>
    </Rezerwacja>
    <Rezerwacja id="1143" parentID="1111" level="2" creatorID="0" sortOrder="1" createDate="2016-07-19T19:48:05" updateDate="2016-07-19T19:49:27" nodeName="ehtrsherhea greagresgre" urlName="ehtrsherhea-greagresgre" path="-1,1111,1143" isDoc="" nodeType="1109" creatorName="Mateusz Kortas" writerName="Mateusz Kortas" writerID="0" template="0" nodeTypeAlias="Rezerwacja">
      <imie><![CDATA[ehtrsherhea]]></imie>
      <nazwisko><![CDATA[greagresgre]]></nazwisko>
      <email><![CDATA[a@a.pl]]></email>
      <apartament><![CDATA[Apartament 1]]></apartament>
      <dataPrzyjazdu>2016-07-27T00:00:00</dataPrzyjazdu>
      <dataWyjazdu>2016-07-29T00:00:00</dataWyjazdu>
      <iloscOsob><![CDATA[2]]></iloscOsob>
      <status><![CDATA[zaakceptowana]]></status>
      <ulica><![CDATA[sgdrsgs]]></ulica>
      <kodPocztowy><![CDATA[gregdrfesgreg]]></kodPocztowy>
      <miasto><![CDATA[agresgrag]]></miasto>
      <kraj><![CDATA[resgraegre]]></kraj>
    </Rezerwacja>
    <Rezerwacja id="1144" parentID="1111" level="2" creatorID="0" sortOrder="2" createDate="2016-07-31T17:56:14" updateDate="2016-07-31T17:56:14" nodeName="asd few" urlName="asd-few" path="-1,1111,1144" isDoc="" nodeType="1109" creatorName="Mateusz Kortas" writerName="Mateusz Kortas" writerID="0" template="0" nodeTypeAlias="Rezerwacja">
      <imie><![CDATA[asd]]></imie>
      <nazwisko><![CDATA[few]]></nazwisko>
      <email><![CDATA[a@a.pl]]></email>
      <apartament><![CDATA[Apartament 1]]></apartament>
      <dataPrzyjazdu>2016-08-01T00:00:00</dataPrzyjazdu>
      <dataWyjazdu>2016-08-02T00:00:00</dataWyjazdu>
      <iloscOsob><![CDATA[1]]></iloscOsob>
      <status><![CDATA[oczekująca]]></status>
      <ulica><![CDATA[fds]]></ulica>
      <kodPocztowy><![CDATA[ef]]></kodPocztowy>
      <miasto><![CDATA[efws]]></miasto>
      <kraj><![CDATA[feswfds]]></kraj>
    </Rezerwacja>
    <Rezerwacja id="1145" parentID="1111" level="2" creatorID="0" sortOrder="3" createDate="2016-07-31T18:02:06" updateDate="2016-07-31T18:02:06" nodeName="trhgfd rdhtr" urlName="trhgfd-rdhtr" path="-1,1111,1145" isDoc="" nodeType="1109" creatorName="Mateusz Kortas" writerName="Mateusz Kortas" writerID="0" template="0" nodeTypeAlias="Rezerwacja">
      <imie><![CDATA[trhgfd]]></imie>
      <nazwisko><![CDATA[rdhtr]]></nazwisko>
      <email><![CDATA[a@a.pl]]></email>
      <apartament><![CDATA[Apartament 1]]></apartament>
      <dataPrzyjazdu>2016-08-02T00:00:00</dataPrzyjazdu>
      <dataWyjazdu>2016-08-03T00:00:00</dataWyjazdu>
      <iloscOsob><![CDATA[1]]></iloscOsob>
      <status><![CDATA[oczekująca]]></status>
      <ulica><![CDATA[gfdsgr]]></ulica>
      <kodPocztowy><![CDATA[resgfds]]></kodPocztowy>
      <miasto><![CDATA[ergsgfds]]></miasto>
      <kraj><![CDATA[gesr]]></kraj>
    </Rezerwacja>
    <Rezerwacja id="1146" parentID="1111" level="2" creatorID="0" sortOrder="4" createDate="2016-07-31T18:23:00" updateDate="2016-07-31T18:23:43" nodeName="gfds rgds" urlName="gfds-rgds" path="-1,1111,1146" isDoc="" nodeType="1109" creatorName="Mateusz Kortas" writerName="Mateusz Kortas" writerID="0" template="0" nodeTypeAlias="Rezerwacja">
      <imie><![CDATA[gfds]]></imie>
      <nazwisko><![CDATA[rgds]]></nazwisko>
      <email><![CDATA[a@a.pl]]></email>
      <apartament><![CDATA[Apartament 1]]></apartament>
      <dataPrzyjazdu>2016-08-01T00:00:00</dataPrzyjazdu>
      <dataWyjazdu>2016-08-02T00:00:00</dataWyjazdu>
      <iloscOsob><![CDATA[1]]></iloscOsob>
      <status><![CDATA[zaakceptowana]]></status>
      <ulica><![CDATA[grdsgfd]]></ulica>
      <kodPocztowy><![CDATA[rgesf]]></kodPocztowy>
      <miasto><![CDATA[grdesgfd]]></miasto>
      <kraj><![CDATA[gresfd]]></kraj>
    </Rezerwacja>
    <Rezerwacja id="1147" parentID="1111" level="2" creatorID="0" sortOrder="5" createDate="2016-07-31T18:24:43" updateDate="2016-07-31T18:24:43" nodeName="fds fesf" urlName="fds-fesf" path="-1,1111,1147" isDoc="" nodeType="1109" creatorName="Mateusz Kortas" writerName="Mateusz Kortas" writerID="0" template="0" nodeTypeAlias="Rezerwacja">
      <imie><![CDATA[fds]]></imie>
      <nazwisko><![CDATA[fesf]]></nazwisko>
      <email><![CDATA[a@a.pl]]></email>
      <apartament><![CDATA[Apartament 1]]></apartament>
      <dataPrzyjazdu>2016-08-02T00:00:00</dataPrzyjazdu>
      <dataWyjazdu>2016-08-03T00:00:00</dataWyjazdu>
      <iloscOsob><![CDATA[1]]></iloscOsob>
      <status><![CDATA[oczekująca]]></status>
      <ulica><![CDATA[fefds]]></ulica>
      <kodPocztowy><![CDATA[fesfds]]></kodPocztowy>
      <miasto><![CDATA[efad]]></miasto>
      <kraj><![CDATA[fesas]]></kraj>
    </Rezerwacja>
    <Rezerwacja id="1148" parentID="1111" level="2" creatorID="0" sortOrder="6" createDate="2016-08-03T20:32:07" updateDate="2016-08-03T20:35:04" nodeName="fewaf fewaga" urlName="fewaf-fewaga" path="-1,1111,1148" isDoc="" nodeType="1109" creatorName="Mateusz Kortas" writerName="Mateusz Kortas" writerID="0" template="0" nodeTypeAlias="Rezerwacja">
      <imie><![CDATA[fewaf]]></imie>
      <nazwisko><![CDATA[fewaga]]></nazwisko>
      <email><![CDATA[a@a.pl]]></email>
      <apartament><![CDATA[Apartament 1]]></apartament>
      <dataPrzyjazdu>2016-08-04T00:00:00</dataPrzyjazdu>
      <dataWyjazdu>2016-08-05T00:00:00</dataWyjazdu>
      <iloscOsob><![CDATA[1]]></iloscOsob>
      <dodatkoweInformacje><![CDATA[sdf]]></dodatkoweInformacje>
      <status><![CDATA[zaakceptowana]]></status>
      <ulica><![CDATA[fawewfa]]></ulica>
      <kodPocztowy><![CDATA[fawe]]></kodPocztowy>
      <miasto><![CDATA[4rgaerga]]></miasto>
      <kraj><![CDATA[ragra]]></kraj>
      <telefon><![CDATA[5423154]]></telefon>
    </Rezerwacja>
    <Rezerwacja id="1149" parentID="1111" level="2" creatorID="0" sortOrder="7" createDate="2016-08-03T20:35:39" updateDate="2016-08-03T20:35:39" nodeName="Gaw fewa" urlName="gaw-fewa" path="-1,1111,1149" isDoc="" nodeType="1109" creatorName="Mateusz Kortas" writerName="Mateusz Kortas" writerID="0" template="0" nodeTypeAlias="Rezerwacja">
      <imie><![CDATA[Gaw]]></imie>
      <nazwisko><![CDATA[fewa]]></nazwisko>
      <email><![CDATA[a@a.pl]]></email>
      <apartament><![CDATA[Apartament 1]]></apartament>
      <dataPrzyjazdu>2016-08-05T00:00:00</dataPrzyjazdu>
      <dataWyjazdu>2016-08-08T00:00:00</dataWyjazdu>
      <iloscOsob><![CDATA[1]]></iloscOsob>
      <status><![CDATA[oczekująca]]></status>
      <ulica><![CDATA[gfa]]></ulica>
      <kodPocztowy><![CDATA[rtaewds]]></kodPocztowy>
      <miasto><![CDATA[tgewat]]></miasto>
      <kraj><![CDATA[gwqa]]></kraj>
      <telefon><![CDATA[f32423]]></telefon>
    </Rezerwacja>
    <Rezerwacja id="1150" parentID="1111" level="2" creatorID="0" sortOrder="8" createDate="2016-08-03T20:37:12" updateDate="2016-08-03T20:37:12" nodeName="Ga feadf" urlName="ga-feadf" path="-1,1111,1150" isDoc="" nodeType="1109" creatorName="Mateusz Kortas" writerName="Mateusz Kortas" writerID="0" template="0" nodeTypeAlias="Rezerwacja">
      <imie><![CDATA[Ga]]></imie>
      <nazwisko><![CDATA[feadf]]></nazwisko>
      <email><![CDATA[a@a.pl]]></email>
      <apartament><![CDATA[Apartament 1]]></apartament>
      <dataPrzyjazdu>2016-08-05T00:00:00</dataPrzyjazdu>
      <dataWyjazdu>2016-08-08T00:00:00</dataWyjazdu>
      <iloscOsob><![CDATA[1]]></iloscOsob>
      <status><![CDATA[oczekująca]]></status>
      <ulica><![CDATA[42ag]]></ulica>
      <kodPocztowy><![CDATA[graewaw]]></kodPocztowy>
      <miasto><![CDATA[grads]]></miasto>
      <kraj><![CDATA[eawrfds]]></kraj>
      <telefon><![CDATA[gewa]]></telefon>
    </Rezerwacja>
    <Rezerwacja id="1151" parentID="1111" level="2" creatorID="0" sortOrder="9" createDate="2016-08-03T20:42:23" updateDate="2016-08-03T20:42:23" nodeName="fewafe fdsf" urlName="fewafe-fdsf" path="-1,1111,1151" isDoc="" nodeType="1109" creatorName="Mateusz Kortas" writerName="Mateusz Kortas" writerID="0" template="0" nodeTypeAlias="Rezerwacja">
      <imie><![CDATA[fewafe]]></imie>
      <nazwisko><![CDATA[fdsf]]></nazwisko>
      <email><![CDATA[a@a.pl]]></email>
      <apartament><![CDATA[Apartament 1]]></apartament>
      <dataPrzyjazdu>2016-08-05T00:00:00</dataPrzyjazdu>
      <dataWyjazdu>2016-08-07T00:00:00</dataWyjazdu>
      <iloscOsob><![CDATA[1]]></iloscOsob>
      <status><![CDATA[oczekująca]]></status>
      <ulica><![CDATA[ewaf]]></ulica>
      <kodPocztowy><![CDATA[feawg]]></kodPocztowy>
      <miasto><![CDATA[aewfa]]></miasto>
      <kraj><![CDATA[feawf]]></kraj>
      <telefon><![CDATA[34234]]></telefon>
    </Rezerwacja>
    <Rezerwacja id="1153" parentID="1111" level="2" creatorID="0" sortOrder="10" createDate="2016-08-20T12:54:50" updateDate="2016-08-20T12:54:50" nodeName="aefw fewg" urlName="aefw-fewg" path="-1,1111,1153" isDoc="" nodeType="1109" creatorName="Mateusz Kortas" writerName="Mateusz Kortas" writerID="0" template="0" nodeTypeAlias="Rezerwacja">
      <imie><![CDATA[aefw]]></imie>
      <nazwisko><![CDATA[fewg]]></nazwisko>
      <email><![CDATA[a@a.pl]]></email>
      <apartament><![CDATA[Apartament 1]]></apartament>
      <dataPrzyjazdu>2016-08-21T00:00:00</dataPrzyjazdu>
      <dataWyjazdu>2016-08-22T00:00:00</dataWyjazdu>
      <iloscOsob><![CDATA[1]]></iloscOsob>
      <status><![CDATA[oczekująca]]></status>
      <ulica><![CDATA[fds]]></ulica>
      <kodPocztowy><![CDATA[fewds]]></kodPocztowy>
      <miasto><![CDATA[fesag]]></miasto>
      <kraj><![CDATA[fesdfs]]></kraj>
      <telefon><![CDATA[111]]></telefon>
    </Rezerwacja>
    <Rezerwacja id="1155" parentID="1111" level="2" creatorID="0" sortOrder="11" createDate="2017-01-29T17:41:09" updateDate="2017-01-29T17:41:59" nodeName="fdsafd sfsfds" urlName="fdsafd-sfsfds" path="-1,1111,1155" isDoc="" nodeType="1109" creatorName="Mateusz Kortas" writerName="Mateusz Kortas" writerID="0" template="0" nodeTypeAlias="Rezerwacja">
      <imie><![CDATA[fdsafd]]></imie>
      <nazwisko><![CDATA[sfsfds]]></nazwisko>
      <email><![CDATA[a@a.pl]]></email>
      <apartament><![CDATA[Apartament 1]]></apartament>
      <dataPrzyjazdu>2017-01-30T00:00:00</dataPrzyjazdu>
      <dataWyjazdu>2017-01-31T00:00:00</dataWyjazdu>
      <iloscOsob><![CDATA[3]]></iloscOsob>
      <status><![CDATA[zaakceptowana]]></status>
      <ulica><![CDATA[fdsfs]]></ulica>
      <kodPocztowy><![CDATA[12321]]></kodPocztowy>
      <miasto><![CDATA[fdsfadsa]]></miasto>
      <kraj><![CDATA[Polska]]></kraj>
      <telefon><![CDATA[23423423423]]></telefon>
    </Rezerwacja>
    <Rezerwacja id="1156" parentID="1111" level="2" creatorID="0" sortOrder="12" createDate="2017-02-22T21:03:38" updateDate="2017-02-22T21:03:38" nodeName="Test Test" urlName="test-test" path="-1,1111,1156" isDoc="" nodeType="1109" creatorName="Mateusz Kortas" writerName="Mateusz Kortas" writerID="0" template="0" nodeTypeAlias="Rezerwacja">
      <imie><![CDATA[Test]]></imie>
      <nazwisko><![CDATA[Test]]></nazwisko>
      <email><![CDATA[a@a.pl]]></email>
      <apartament><![CDATA[Apartament 1]]></apartament>
      <dataPrzyjazdu>2017-02-23T00:00:00</dataPrzyjazdu>
      <dataWyjazdu>2017-02-23T00:00:00</dataWyjazdu>
      <iloscOsob><![CDATA[1]]></iloscOsob>
      <status><![CDATA[oczekująca]]></status>
      <ulica><![CDATA[Test]]></ulica>
      <kodPocztowy><![CDATA[11-111]]></kodPocztowy>
      <miasto><![CDATA[Test]]></miasto>
      <kraj><![CDATA[Polska]]></kraj>
      <telefon><![CDATA[111111111]]></telefon>
    </Rezerwacja>
    <Rezerwacja id="1157" parentID="1111" level="2" creatorID="0" sortOrder="13" createDate="2017-02-22T21:05:21" updateDate="2017-02-22T21:05:21" nodeName="Test Test (1)" urlName="test-test-1" path="-1,1111,1157" isDoc="" nodeType="1109" creatorName="Mateusz Kortas" writerName="Mateusz Kortas" writerID="0" template="0" nodeTypeAlias="Rezerwacja">
      <imie><![CDATA[Test]]></imie>
      <nazwisko><![CDATA[Test]]></nazwisko>
      <email><![CDATA[a@a.pl]]></email>
      <apartament><![CDATA[Apartament 1]]></apartament>
      <dataPrzyjazdu>2017-02-23T00:00:00</dataPrzyjazdu>
      <dataWyjazdu>2017-02-23T00:00:00</dataWyjazdu>
      <iloscOsob><![CDATA[1]]></iloscOsob>
      <status><![CDATA[oczekująca]]></status>
      <ulica><![CDATA[Test]]></ulica>
      <kodPocztowy><![CDATA[11-111]]></kodPocztowy>
      <miasto><![CDATA[Test]]></miasto>
      <kraj><![CDATA[Polska]]></kraj>
      <telefon><![CDATA[111111111]]></telefon>
    </Rezerwacja>
    <Rezerwacja id="1158" parentID="1111" level="2" creatorID="0" sortOrder="14" createDate="2017-02-22T21:14:54" updateDate="2017-02-22T21:14:54" nodeName="Test Test (2)" urlName="test-test-2" path="-1,1111,1158" isDoc="" nodeType="1109" creatorName="Mateusz Kortas" writerName="Mateusz Kortas" writerID="0" template="0" nodeTypeAlias="Rezerwacja">
      <imie><![CDATA[Test]]></imie>
      <nazwisko><![CDATA[Test]]></nazwisko>
      <email><![CDATA[a@a.pl]]></email>
      <apartament><![CDATA[Apartament 1]]></apartament>
      <dataPrzyjazdu>2017-02-22T00:00:00</dataPrzyjazdu>
      <dataWyjazdu>2017-02-23T00:00:00</dataWyjazdu>
      <iloscOsob><![CDATA[1]]></iloscOsob>
      <status><![CDATA[oczekująca]]></status>
      <ulica><![CDATA[Test]]></ulica>
      <kodPocztowy><![CDATA[11-111]]></kodPocztowy>
      <miasto><![CDATA[Test]]></miasto>
      <kraj><![CDATA[Polska]]></kraj>
      <telefon><![CDATA[Test]]></telefon>
    </Rezerwacja>
    <Rezerwacja id="1159" parentID="1111" level="2" creatorID="0" sortOrder="15" createDate="2017-02-27T19:38:35" updateDate="2017-02-27T19:40:31" nodeName="Test Test (3)" urlName="test-test-3" path="-1,1111,1159" isDoc="" nodeType="1109" creatorName="Mateusz Kortas" writerName="Mateusz Kortas" writerID="0" template="0" nodeTypeAlias="Rezerwacja">
      <imie><![CDATA[Test]]></imie>
      <nazwisko><![CDATA[Test]]></nazwisko>
      <email><![CDATA[a@a.pl]]></email>
      <apartament><![CDATA[Apartament 1]]></apartament>
      <dataPrzyjazdu>2017-02-27T00:00:00</dataPrzyjazdu>
      <dataWyjazdu>2017-03-03T00:00:00</dataWyjazdu>
      <iloscOsob><![CDATA[1]]></iloscOsob>
      <status><![CDATA[zaakceptowana]]></status>
      <ulica><![CDATA[Test]]></ulica>
      <kodPocztowy><![CDATA[11-111]]></kodPocztowy>
      <miasto><![CDATA[Gdańsk]]></miasto>
      <kraj><![CDATA[Polska]]></kraj>
      <telefon><![CDATA[111111111]]></telefon>
    </Rezerwacja>
    <Rezerwacja id="1160" parentID="1111" level="2" creatorID="0" sortOrder="16" createDate="2017-02-27T20:07:23" updateDate="2017-02-27T20:07:50" nodeName="Test Test (4)" urlName="test-test-4" path="-1,1111,1160" isDoc="" nodeType="1109" creatorName="Mateusz Kortas" writerName="Mateusz Kortas" writerID="0" template="0" nodeTypeAlias="Rezerwacja">
      <imie><![CDATA[Test]]></imie>
      <nazwisko><![CDATA[Test]]></nazwisko>
      <email><![CDATA[a@a.pl]]></email>
      <apartament><![CDATA[Apartament 1]]></apartament>
      <dataPrzyjazdu>2017-03-08T00:00:00</dataPrzyjazdu>
      <dataWyjazdu>2017-03-12T00:00:00</dataWyjazdu>
      <iloscOsob><![CDATA[1]]></iloscOsob>
      <status><![CDATA[zaakceptowana]]></status>
      <ulica><![CDATA[Test]]></ulica>
      <kodPocztowy><![CDATA[11-111]]></kodPocztowy>
      <miasto><![CDATA[aaaa]]></miasto>
      <kraj><![CDATA[Polska]]></kraj>
      <telefon><![CDATA[111111111]]></telefon>
    </Rezerwacja>
    <Rezerwacja id="1161" parentID="1111" level="2" creatorID="0" sortOrder="17" createDate="2017-02-27T20:07:24" updateDate="2017-02-27T20:08:04" nodeName="Test Test (5)" urlName="test-test-5" path="-1,1111,1161" isDoc="" nodeType="1109" creatorName="Mateusz Kortas" writerName="Mateusz Kortas" writerID="0" template="0" nodeTypeAlias="Rezerwacja">
      <imie><![CDATA[Test]]></imie>
      <nazwisko><![CDATA[Test]]></nazwisko>
      <email><![CDATA[a@a.pl]]></email>
      <apartament><![CDATA[Apartament 1]]></apartament>
      <dataPrzyjazdu>2017-03-13T00:00:00</dataPrzyjazdu>
      <dataWyjazdu>2017-03-16T00:00:00</dataWyjazdu>
      <iloscOsob><![CDATA[1]]></iloscOsob>
      <status><![CDATA[zaakceptowana]]></status>
      <ulica><![CDATA[Test]]></ulica>
      <kodPocztowy><![CDATA[11-111]]></kodPocztowy>
      <miasto><![CDATA[aaaa]]></miasto>
      <kraj><![CDATA[Polska]]></kraj>
      <telefon><![CDATA[111111111]]></telefon>
    </Rezerwacja>
    <Rezerwacja id="1162" parentID="1111" level="2" creatorID="0" sortOrder="18" createDate="2017-02-27T20:17:42" updateDate="2017-02-27T20:17:42" nodeName="Test Test (6)" urlName="test-test-6" path="-1,1111,1162" isDoc="" nodeType="1109" creatorName="Mateusz Kortas" writerName="Mateusz Kortas" writerID="0" template="0" nodeTypeAlias="Rezerwacja">
      <imie><![CDATA[Test]]></imie>
      <nazwisko><![CDATA[Test]]></nazwisko>
      <email><![CDATA[a@a.pl]]></email>
      <apartament><![CDATA[Apartament 1]]></apartament>
      <dataPrzyjazdu>2017-03-12T00:00:00</dataPrzyjazdu>
      <dataWyjazdu>2017-03-13T00:00:00</dataWyjazdu>
      <iloscOsob><![CDATA[1]]></iloscOsob>
      <status><![CDATA[oczekująca]]></status>
      <ulica><![CDATA[Test]]></ulica>
      <kodPocztowy><![CDATA[11-111]]></kodPocztowy>
      <miasto><![CDATA[Test]]></miasto>
      <kraj><![CDATA[Polska]]></kraj>
      <telefon><![CDATA[111111111]]></telefon>
    </Rezerwacja>
  </Rezerwacje>
</root>