@inherits Umbraco.Web.Macros.PartialViewMacroPage

<div class="overlay" onClick="style.pointerEvents='none'" style='background:transparent;position:relative;width:@(Model.MacroParameters["width"]);height:@(Model.MacroParameters["height"]);top:@(Model.MacroParameters["height"]);margin-top:-@(Model.MacroParameters["height"])'></div>
<iframe onmouseleave="$('.overlay').css('pointer-events', 'auto')" src="https://www.google.com/maps/embed/v1/place?q=@(Model.MacroParameters["address"])&zoom=@(Model.MacroParameters["zoom"])&key=AIzaSyBuSpgJwD9FIIq97vS78K40sAjB0XuCL7E"
        style='width:@(Model.MacroParameters["width"]); height:@(Model.MacroParameters["height"])'></iframe>