/* Add here all your css styles (customizations) */
.cbp-item.nonhidden-overflow {
	overflow: visible
}

.cbp-caption-active .cbp-caption.nonhidden-overflow {
	overflow: visible
}

label {
    margin-bottom: 0;
    margin-top: 10px;
}

textarea {
    width: 100%;
    resize: vertical;
}

@media (min-width: 1000px) {
    .narrow-content {
	    width: 900px;
	    margin-left: auto;
	    margin-right: auto;
    }
}

.field-validation-error {
    font-weight: bold;
    color: red;
}

.field-register-success {
    font-weight: bold;
    color: green;
}

.calendarInDayText {
    line-height: 1.3;
    vertical-align: middle;
    margin-top: 9%;
}

h1.breadcrumbs-v3-header {
	line-height:0;
}

.calendarMonthCurr {
    text-align: center;
}

.calendarText {
    /*font-weight: bold;*/
}

.reservationStatisticsValue {
    font-weight: bold;
}

.bottom-stick {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 9;
}

.copyright {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.wrapper {
    position: relative;
}

.apartamenty-glowne {
    padding-top: 50px;
}

.form-table {
    display: table;
}

div .form-row {
    display: table-row;
}

.form-label {
    display: table-cell;
    padding-right: 10px;
    white-space: nowrap;
}

div .form-input {
    display: table-cell;
    width: 100%;
}