@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}

<!--=== Blog Posts ===-->
    <div class="container content-md">
		@Umbraco.Field("tresc")
    </div><!--/end container-->
    <!--=== End Blog Posts ===-->