/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */
.red {
color: red;
}

.big-text {
font-size: 20px;
}

.small-text {
font-size: 9px;
}

.georgia {
	font-family: 'Georgia'
}

.arial {
	font-family: 'Arial'
}